
/Plotter Multibody Simulation/slprj
*.slxc
/Plotter Multibody Simulation/FRA262v4-RP Plotter Assembly
*.autosave
*.asv
/.metadata
/Base-system-frab10-main/code/components/__pycache__
/Base-system-frab10-main/code/__pycache__
*.pyc
